.card-body{
    background-color: lightcyan;
}

body{
    background-color: rgb(187, 215, 233);
}
input{
    background-color: rgb(110, 144, 245);
    color: #ffffff;
    align-self:center;
    margin-top: 10px;
}
.inp{
    align-items: center;
}
   
